<% if user_signed_in? %>
  <li>
    <%= link_to( t('header.logout'), destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li class="<%= is_active?(new_user_session_path)%>">
       <%= link_to( t('header.login'), new_user_session_path)  %>
  </li>
<% end %>
