<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4">
      <h1>Welcome</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4">
      <p>
      Avarteq Recipes is a prototype for recipe recommendations for groups based on
      user preferences and restrictions (e.g. allergies and intolerances).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4">
      <p>
      Cooking for bigger groups can cause many problems for hosts, because
      not everybody likes the same types of food. Furthermore, vegeterians and
      people that suffer from food allergies might lead to extra meals- that have
      to be prepared by the host -, just to supply every guest with food. Figuring
      out all guest's preference and restrictions might be an endeavor, too.
      In order to figure out suitable recipes based on guest's preferences
      and restrictions a recommendation plattform can prevent wasting time and lead to fewer but more suitable meals.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4">
      <h4>This project is developed by Janis Landwehr</h4>
    </div>
  </div>
</div>
